@{
    ViewData["Title"] = "Home Page";
}


@model List<CreateViewModel>

@*@{
    ViewBag.Title = "Pagina Inicial";
}
<br />
@if (TempData["MSG_S"] != null)
{
    <br />
    <p class="alert alert-success">@TempData["MSG_S"]</p>

}
else if (TempData["MSG_D"] != null)
{
    <br />
    <p class="alert alert-danger">@TempData["MSG_D"]</p>
}*@
<br />
@if (Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayFor(model => model.First().Nome_produto)
                    </th>
                    <th scope="col">
                        @Html.DisplayFor(model => model.First().Data_vencimento)
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div>
    </div>
}
else
{
    <span>Nenhum registro cadastrado</span>

}